.DS_Store
*.swp
*.swo
*.mode1v3
*.pbxuser
LanguageBindings/MacRuby/ext/objective_bacon/Makefile
LanguageBindings/MacRuby/ext/objective_bacon/*.h
LanguageBindings/MacRuby/ext/objective_bacon/*.m
LanguageBindings/MacRuby/ext/objective_bacon/*.o
LanguageBindings/MacRuby/ext/objective_bacon/*.bundle
Framework/build
LanguageBindings/Nu/iOSRunner/build
