.DS_Store
*.swp
*.swo
*.mode1v3
*.pbxuser
LanguageBindings/MacRuby/ext/Makefile
LanguageBindings/MacRuby/ext/*.h
LanguageBindings/MacRuby/ext/*.m
LanguageBindings/MacRuby/ext/*.o
LanguageBindings/MacRuby/ext/*.bundle
LanguageBindings/MacRuby/pkg
Framework/build
LanguageBindings/Nu/iOSRunner/build
LanguageBindings/Nu/iOSRunner/NuBacon-iOSRunner.xcodeproj/project.xcworkspace
LanguageBindings/Nu/iOSRunner/NuBacon-iOSRunner.xcodeproj/xcuserdata
